.Card {
    border-radius: 5;
    box-shadow: 20px 20px 20px black;
}

.Image {
    width: 150px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}